<!-- <form [formGroup]="group">
  <mat-form-field>
    <mat-label>{{myData.title}}</mat-label>
    <mat-datetimepicker-toggle [for]="timePicker" matSuffix></mat-datetimepicker-toggle>
    <mat-datetimepicker #timePicker type="time" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
    <input matInput formControlName="time" (ngModelChange)="time.emit(this.group.get('time').value)" [ngModel]="group.get('time').value" [matDatetimepicker]="timePicker" required>
    <mat-error *ngIf="group.get('time').errors?.required">حقل مطلوب</mat-error>
  </mat-form-field>
</form> -->
