
<div [dir]="'rtl'">
  <mat-toolbar dir color="primary">
    <mat-toolbar-row  class="mat-elevation-z8" style="min-height: 50px !important; height: 50px !important;">
      <span routerLink="/home"><mat-icon class="private-icon">eco</mat-icon>أكاديمية فراس للتعليم</span>
      <span routerLink="/dashboard"><mat-icon class="private-icon">eco</mat-icon>أكاديمية فراس للتعليم</span>
      <div class="private-spacer"></div>
      <a mat-button routerLink="/login">تسجيل الدخول</a>
      <a mat-button routerLink="/signup">طلب فتح حساب</a>
      <a mat-button [matMenuTriggerFor]="menu">الاستعلامات</a>
      <a mat-raised-button color="accent">الأسئلة الشائعة</a>
    </mat-toolbar-row>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>شهادة مدرب</button>
      <button mat-menu-item>شهادة مشرف</button>
      <button mat-menu-item>رخصة مدرب</button>
    </mat-menu>
    <mat-toolbar-row>
      <span>أدخل بيانات تسجيل الدخول للوصول إلى حسابك.</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<footer layout="row" class="md-padding">

    <p>I am Strong!</p>
 
</footer>

