<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div>{{hint}}</div>
    <button type="button" mat-icon-button mat-dialog-close tabindex="-1">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-dialog-content>
    <p><b>{{message}}</b></p>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false">لا</button>
    <button mat-button color="primary" (click)="conform()">نعم</button>
</mat-dialog-actions>