<navbar-footer-outer></navbar-footer-outer>
<div [dir]="'rtl'">
  <mat-grid-list gutterSize="0px" cols="3" rowHeight="10rem">
    <mat-grid-tile colspan="1" rowspan="3"></mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="3">
      <mat-grid-tile-header>
        <h1 class="mat-display-1">
          أدخل كلمة المرور الجديدة !
        </h1>
      </mat-grid-tile-header>
      <form [formGroup]="loginForm" class="example-form">


        <mat-form-field [style.fontSize]="'14px'" style="width: 100%;" appearance="outline">
          <mat-label>أدخل كلمة المرور الجديدة</mat-label>
          <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password1" required />
          <mat-error>{{ getErrorMessagePass1() }}</mat-error>
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1">
            <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field [style.fontSize]="'14px'" style="width: 100%;" appearance="outline">
          <mat-label>تأكيد كلمة المرور</mat-label>
          <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="password2" required />
          <mat-error>{{ getErrorMessagePass2() }}</mat-error>
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <section>
          <div class="example-button-row">
            <button [disabled]="loginForm.invalid ? true : false" (click)="resetPassPost()" mat-raised-button
              color="primary">
              تسجيل</button><br />
            <a routerLink="/login">لدي حساب !</a>
          </div>
        </section>
      </form>

      <span mat-stroked-button aria-label="Show an example snack-bar"></span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <ul class="mat-h4">
        <b>كلمة المرور يجب أن تحتوي على:</b>
        <li>تتألف من 7 أحرف على الأقل</li>
        <li>تحتوي على حرف واحد على الأقل (a, b, c...)</li>
        <li>يجب أن يكون لديك رقم واحد على الأقل (1, 2, 3...)</li>
        <li>قم بتضمين كل من الأحرف الكبيرة والصغيرة</li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>


