<!-- dialog-box.component.html -->

<div [dir]="'rtl'">
  <h1 mat-dialog-title>
    <strong>{{ action["message"] }}</strong>
  </h1>
  <div mat-dialog-content>
    <div *ngIf="action['action'] != 'حذف'; else elseTemplate">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input placeholder="إسم الشهادة" matInput name="0" [(ngModel)]="local_data.courseName" /> 
      </mat-form-field>
      <mat-form-field class="example-width">
        <input placeholder="عنوان الشهادة - عربي" name="1" matInput [(ngModel)]="local_data.cr_title_AR" />  
      </mat-form-field>
      <mat-form-field class="example-width">
        <input placeholder="عنوان الشهادة - إنجليزي" name="2" matInput [(ngModel)]="local_data.cr_title_EN" style="text-align: left;" />
      </mat-form-field>

    
      <mat-form-field class="example-full-width">
        <mat-label>النص العربي - مذكر</mat-label>
        <textarea matInput rows="10"  name="3" [(ngModel)]="local_data.cr_text_M_AR" placeholder="النص العربي - مذكر"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>النص الإنجليزي - مذكر</mat-label>
        <textarea matInput rows="10" name="4" [(ngModel)]="local_data.cr_text_M_EN" placeholder="النص الإنجليزي - مذكر" style="text-align: left;"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>النص العربي - مؤنث</mat-label>
        <textarea matInput rows="10" name="5" [(ngModel)]="local_data.cr_text_F_AR" placeholder="النص العربي - مؤنث"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>النص الإنجليزي - مؤنث</mat-label>
        <textarea matInput rows="10" name="6" [(ngModel)]="local_data.cr_text_F_EN" placeholder="النص الإنجليزي - مؤنث" style="text-align: left;"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ملاحظة - عربي - مذكر</mat-label>
        <textarea matInput rows="1" name="7" [(ngModel)]="local_data.cr_Note_M_AR" placeholder="ملاحظة - عربي - مذكر"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ملاحظة - انجليزي - مذكر</mat-label>
        <textarea matInput rows="1" name="8" [(ngModel)]="local_data.cr_Note_M_EN" placeholder="ملاحظة - انجليزي - مذكر" style="text-align: left;"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ملاحظة - عربي - مؤنث</mat-label>
        <textarea matInput rows="1" name="9" [(ngModel)]="local_data.cr_Note_F_AR" placeholder="ملاحظة - عربي - مؤنث"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>ملاحظة - انجليزي - مؤنث</mat-label>
        <textarea matInput rows="1" name="10" [(ngModel)]="local_data.cr_Note_F_EN" placeholder="ملاحظة - انجليزي - مؤنث" style="text-align: left;"></textarea>
      </mat-form-field>
    </form>
  </div>
    <ng-template #elseTemplate>
      <b>هل تريد حذف إسم الدورة؟</b>
    </ng-template>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{ action["action"] }}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
      إلغاء
    </button>
  </div>
</div>
