<!-- <form [formGroup]="group">
  <mat-form-field>
    <mat-label>{{myData.title}}</mat-label>
    <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
    <mat-datetimepicker #datetimePicker type="datetime" startView="month" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
    <input matInput formControlName="dateTime" (ngModelChange)="dateTime.emit(this.group.get('dateTime').value)" [ngModel]="group.get('dateTime').value" [matDatetimepicker]="datetimePicker" required>
    <mat-error *ngIf="group.get('dateTime').errors?.required">حقل مطلوب</mat-error>
  </mat-form-field>
</form> -->