footer, p {
  background-color: #ddd;
  border: 1px solid #bbb;
  text-align: center;
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.private-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    width: 100%;
    height: 30rem;
  }

  mat-drawer {
    width: 17%;
  }

 
  
  