<vex-page-layout>

    <vex-page-layout-header class="pb-0" fxLayout="column" fxLayoutAlign="center start">
    </vex-page-layout-header>
  
    <vex-page-layout-content class="-mt-6">
  
      <div class="card overflow-auto -mt-16">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
  
          <div class="bg-card rounded-full border px-4"
               fxFlex="400px"
               fxFlex.lt-md="auto"
               fxLayout="row"
               fxLayoutAlign="start center">
            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input #input (keyup)="applyFilter($event)"
                   class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                   placeholder="بحث..."
                   type="search">
          </div>
  
          <span fxFlex></span>
  
          <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
            <mat-icon [icIcon]="icSearch"></mat-icon>
          </button>
  

        </div>
  
        <dir style="position: relative; height: 400px; overflow: auto;">
  
        <table [dataSource]="dataSource" class="w-full" mat-table matSort>
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
  
            <!-- index Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ت</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            
  
            <!-- courseNo Column -->
            <ng-container matColumnDef="courseNo">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>الاسم</th>
              <td mat-cell *matCellDef="let element">{{element.courseNo}}#</td>
            </ng-container>
  
  
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة الحضور</th>
              <td mat-cell *matCellDef="let element">{{element.level}}</td>
            </ng-container>
  
  
            <!-- catagory Column -->
            <ng-container matColumnDef="catagory">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة المشاركة</th>
              <td mat-cell *matCellDef="let element">{{element.catagory}}</td>
            </ng-container>
  
  
            <!-- beneficiaryType Column -->
            <ng-container matColumnDef="beneficiaryType">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة الواجبات</th>
              <td mat-cell *matCellDef="let element">{{element.beneficiaryType}}</td>
            </ng-container>

              
              <!-- courcesDates Column -->
              <ng-container matColumnDef="courcesDates">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة الاختبارات القصيرة</th>
                <td mat-cell *matCellDef="let element">{{element.courcesDates | date:'dd-MM-yyyy':'+0300'}}</td>
              </ng-container>



            <!-- startTime Column -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>المعدل</th>
                <td mat-cell *matCellDef="let element">{{element.startTime | date: 'h:mm a'}}</td>
              </ng-container>
              
              <!-- typePlace Column -->
              <ng-container matColumnDef="typePlace">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة الشفهي</th>
                  <td mat-cell *matCellDef="let element">{{element.typePlace}}</td>
                </ng-container>
    
              <!-- tajwid Column -->
              <ng-container matColumnDef="tajwid">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>درجة التحريري</th>
                  <td mat-cell *matCellDef="let element">{{element.coache}}</td>
                </ng-container>

              <!-- YearsOfExperience Column -->
              <ng-container matColumnDef="YearsOfExperience">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>المجموع</th>
                <td mat-cell *matCellDef="let element">{{element.coache}}</td>
              </ng-container>


              <!-- IdentificationNo Column -->
              <ng-container matColumnDef="IdentificationNo">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>التقدير</th>
                <td mat-cell *matCellDef="let element">{{element.coache}}</td>
              </ng-container>

              <!-- phoneNo Column -->
              <ng-container matColumnDef="phoneNo">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>إعادة الاختبار</th>
                <td mat-cell *matCellDef="let element">{{element.coache}}</td>
              </ng-container>
           

            
            
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="lite-row"></tr>
          
              <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">لاتوجد نتائج "{{input.value}}"</td>
            </tr>
        </table>
      </dir>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
      </div>
  
    </vex-page-layout-content>
  
  </vex-page-layout>
