<navbar-footer-outer></navbar-footer-outer>
<div [dir]="'rtl'">
  <mat-grid-list gutterSize="0px" cols="3" rowHeight="10rem">
    <mat-grid-tile colspan="1" rowspan="3"></mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="3">
      <mat-grid-tile-header>
        <h1 class="mat-display-1">
          تسجيل مستخدم جديد !
        </h1>
      </mat-grid-tile-header>
      <form [formGroup]="loginForm" class="example-form">

        <mat-form-field [style.fontSize]="'14px'" style="width: 100%;" appearance="outline">
          <mat-label>أدخل بريدك الإلكتروني</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>{{ getErrorMessageMail() }}</mat-error>
        </mat-form-field>

        <section>
          <div class="example-button-row">
            <button [disabled]="loginForm.invalid ? true : false" (click)="forgotPassword()" mat-raised-button
              color="primary">
              إرسال</button><br />
          </div>
        </section>
      </form>

      <span mat-stroked-button aria-label="Show an example snack-bar"></span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
    </mat-grid-tile>
  </mat-grid-list>
</div>

