<app-navbar-out></app-navbar-out>

<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">

        <div class="card">
            <div class="card-content">
                <h4 class="center-align">أدخل بريدك الإلكتروني</h4>
                <form >

                    <div class="input-field">
                      <i class="material-icons prefix">person</i>
                        <input class="validate" placeholder="أدخل البريد الإلكتروني" id="email2" type="email" name="email" #email>
                        <label for="email2"></label>
                        <span class="helper-text" data-error="صيغة غير صحيحة" data-success="إستمر">يرجى مراعاة كتابة البريد الإلكتروني بالشكل الصحيح!</span>
                      </div>


                    <div class="input-field">
                        <button type="button" class="btn deep-purple block" (click)="forgotPassword(email)">إرسال</button>

                    </div>

                </form>
            </div>

        </div>
    </div>

  </div>
</div>
