<vex-page-layout>

  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <h1>نماذج الشهادات</h1>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span>{{dataSource?.filteredData.length}} نموذج</span>
        </h2>

        <div class="bg-card rounded-full border px-4"
             fxFlex="400px"
             fxFlex.lt-md="auto"
             fxLayout="row"
             fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input #input (keyup)="applyFilter($event)"
                 class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                 placeholder="بحث..."
                 type="search">
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button (click)="openDialog()"
                class="ml-4"
                color="primary"
                fxFlex="none"
                mat-mini-fab
                matTooltip="إضافة نموذج جديد"
                type="button">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <dir style="position: relative; height: 400px; overflow: auto;">

      <table [dataSource]="dataSource" class="w-full" mat-table matSort>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- index Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ت</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          

          <!-- certificateName Column -->
          <ng-container matColumnDef="certificateName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>إسم النموذج</th>
            <td mat-cell *matCellDef="let element">{{element.certificateName}}</td>
          </ng-container>


          <!-- certificatecatagory Column -->
          <ng-container matColumnDef="certificatecatagory">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>التصنيف</th>
            <td mat-cell *matCellDef="let element">{{element.certificatecatagory}}</td>
          </ng-container>


          <!-- langSex Column -->
          <ng-container matColumnDef="langSex">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>النوع</th>
            <td mat-cell *matCellDef="let element">{{element.langSex}}</td>
          </ng-container>


          <!-- cerPosition Column -->
          <ng-container matColumnDef="cerPosition">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>وضعية النموذج</th>
            <td mat-cell *matCellDef="let element">{{element.cerPosition}}</td>
          </ng-container>
          
          
          <!-- textsPosition Column -->
          <ng-container matColumnDef="textsPosition">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>مربع النص</th>
            <td mat-cell *matCellDef="let element">{{element.textsPosition}}</td>
          </ng-container>

          <!-- edit2 Column -->
          <ng-container matColumnDef="edit2">
            <th mat-header-cell *matHeaderCellDef>تعديل الخصائص</th>
            <td mat-cell *matCellDef="let element">
              <div class="flex">
                <a (click)="edit({rowID: element.rowID, certificateName: element.certificateName, certificatecatagory: element.certificatecatagoryID, langSex: element.langSexID, cerPosition: element.cerPositionID, textsPosition: element.textsPositionID}, 'edit')"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                  <mat-icon [icIcon]="icEdit" size="22px"></mat-icon>
                </a>
              </div>
            </td>
          </ng-container>
          <!-- edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="flex">
                <a (click)="edit(element.rowID, 'view')"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                  <mat-icon [icIcon]="icEye" size="22px"></mat-icon>
                </a>

                <a (click)="formSettings({rowID: element.rowID, certificateName: element.certificateName, langSex: element.langSex, cerPosition: element.cerPosition, textsPosition: element.textsPosition,
                                                                langSexType: element.langSexType, cerPositionType: element.cerPositionType, textsPositionType: element.textsPositionType})"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                  <mat-icon [icIcon]="icSettings" size="22px"></mat-icon>
                </a>

                <a (click)="edit(element.rowID, 'delete')"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                  <mat-icon [icIcon]="icDelete" color="warn" size="22px"></mat-icon>
                </a>
              </div>
            </td>
          </ng-container>
          
          

          
          
          <!-- updatedAt Column -->
          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>آخر تعديل</th>
            <td mat-cell *matCellDef="let element">{{element.updatedAt | date:'dd-MM-yyyy':'+0300'}}</td>
          </ng-container>


          <!-- createdAt Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>تاريخ الإنشاء</th>
            <td mat-cell *matCellDef="let element">{{element.createdAt | date:'dd-MM-yyyy':'+0300'}}</td>
          </ng-container>
          
          

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="lite-row"></tr>
        
            <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">لاتوجد نتائج "{{input.value}}"</td>
          </tr>
      </table>
    </dir>

      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>

  </vex-page-layout-content>

</vex-page-layout>



