<!-- <form [formGroup]="group">
  <mat-form-field>
    <mat-label>{{myData.title}}</mat-label>
    <mat-datetimepicker-toggle [for]="datePicker" matSuffix></mat-datetimepicker-toggle>
    <mat-datetimepicker #datePicker type="date" openOnFocus="true"></mat-datetimepicker>
    <input matInput formControlName="date" (ngModelChange)="date.emit(this.group.get('date').value)" [ngModel]="group.get('date').value" [matDatetimepicker]="datePicker" required>
    <mat-error *ngIf="group.get('date').errors?.required">حقل مطلوب</mat-error>
  </mat-form-field>
</form> -->