<navbar-footer-outer></navbar-footer-outer>
<div [dir]="'rtl'">
  <mat-grid-list cols="1" rowHeight="30rem">
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h1 class="mat-display-1">
          أدخل بيانات تسجيل الدخول للوصول إلى حسابك.
        </h1>
      </mat-grid-tile-header>
      <form [formGroup]="loginForm"  class="example-form">
        <mat-form-field appearance="outline">
          <mat-label>أدخل البريد الإلكتروني</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error>{{ getErrorMessageMail() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>أدخل كلمة المرور</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
          <mat-error>{{ getErrorMessagePass() }}</mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <section>
          <div class="example-button-row">
            <button [disabled]="loginForm.invalid? true: false" (click)="logIn()" mat-raised-button color="primary">تسجيل الدخول</button
            ><br />
            <a routerLink="/forgotPassword">هل نسيت كلمة المرور؟</a>
          </div>
        </section>
      </form>
      <ul class="mat-h4">
        <b>كلمة المرور يجب أن تحتوي على:</b>
        <li>تتألف من 7 أحرف على الأقل</li>
        <li>تحتوي على حرف واحد على الأقل (a, b, c...)</li>
        <li>يجب أن يكون لديك رقم واحد على الأقل (1, 2, 3...)</li>
        <li>قم بتضمين كل من الأحرف الكبيرة والصغيرة</li>
      </ul>
      <span mat-stroked-button aria-label="Show an example snack-bar"></span>

      <mat-grid-tile-footer>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
