<div>
  <!-- mat-dialog-title -->
  <p>{{dataFromCertificate.certificateName}} | {{dataFromCertificate.cerPosition}}
  &nbsp;
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">خيارات</button>
  &nbsp;
  عدد الوسوم: {{tagsLenght1}}
  &nbsp;
  <button mat-raised-button color="accent" [matMenuTriggerFor]="tags">الوسوم المعتمدة</button>
</p>

<mat-menu #tags="matMenu">
  <button disabled mat-menu-item *ngFor="let item of tagsNames; index as i" >{{item.text}}</button>
</mat-menu>

  <mat-menu  #menu="matMenu">
    <!-- <button mat-menu-item [matMenuTriggerFor]="size">حجم المستند</button> -->
    <button mat-menu-item [matMenuTriggerFor]="toggle">إدراج</button>
    <button mat-menu-item [matMenuTriggerFor]="codes">إضافة رمز</button>
  </mat-menu>
  <!-- <mat-menu #size="matMenu">
    <button mat-menu-item (click)="changePosition(100)">100%</button>
    <button mat-menu-item (click)="changePosition(85)">85%</button>
    <button mat-menu-item (click)="changePosition(70)">70%</button>
    <button mat-menu-item (click)="changePosition(55)">55%</button>
    <button mat-menu-item (click)="changePosition(40)">40%</button>
    <button mat-menu-item (click)="changePosition(25)">25%</button>
  </mat-menu> -->
  <mat-menu #toggle="matMenu">
    <button mat-menu-item (click)="addItem('qr')">باركود</button>
    <button mat-menu-item (click)="addItem('text')">مربع نص</button>
    <button mat-menu-item (click)="addItem('img')">صورة</button>
  </mat-menu>
  <mat-menu #codes="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="codesAR">عربي</button>
    <button mat-menu-item [matMenuTriggerFor]="codesEN">إنجليزي</button>
    <button mat-menu-item [matMenuTriggerFor]="codesMX">مشتركة</button>
  </mat-menu>
  <mat-menu #codesAR="matMenu">
    <button mat-menu-item (click)="addVarablesCode('AR', 'الإسم')">1.الإسم</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'الجنسية')">2.الجنسية</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'رقم_الهوية')">3.رقم الهوية</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'العمر')">4.العمر</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'عدد_الأيام')">5.عدد الأيام</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'مكان_الدورة')">6.مكان الدورة</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'رقم_الدورة/الإعتماد')">7.رقم الدورة/الإعتماد</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'النسبة')">8.النسبة</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'التقدير')">9.التقدير</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'اسم_المدرب')">10.اسم المدرب</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'الفترة_من')">11.الفترة من</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'الفترة_إلى')">12.الفترة إلى</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'عدد_الساعات_التدريبية')">13.عدد الساعات التدريبية</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'حقل1')">14.حقل1</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'حقل2')">15.حقل2</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'حقل3')">16.حقل3</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'حقل4')">17.حقل4</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'حقل5')">18.حقل5</button>
  </mat-menu>
  <mat-menu #codesEN="matMenu">
    <button mat-menu-item (click)="addVarablesCode('AR', 'name')">1.Name</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'nationality')">2.Nationality</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'identification')">3.Identification</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'age')">4.Age</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'number_of_days')">5.number of days</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'course_place')">6.course place</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'course_number')">7.course number</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'ratio')">8.Ratio</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'rating')">9.Rating</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'coach_name')">10.coach name</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'period_from')">11.Period from</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'period_to')">12.Period To</button>
    <button mat-menu-item (click)="addVarablesCode('AR', 'training_hours')">13.Training Hours</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '1field')">1field.14</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '2field')">2field.15</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '3field')">3field.16</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '4field')">4field.17</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '5field')">5field.18</button>
  </mat-menu>
  <mat-menu #codesMX="matMenu">
    <button mat-menu-item (click)="addVarablesCode('MX', 'Current_Date')">Current Date.19</button>
    <button mat-menu-item (click)="addVarablesCode('MX', 'Auto_Serial')">Auto Serial.20</button>
    <button mat-menu-item (click)="addVarablesCode('MX', 'copy_No')">Copy Number.21</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '6field')">6field.22</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '7field')">7field.23</button>
    <button mat-menu-item (click)="addVarablesCode('AR', '8field')">8field.24</button>
  </mat-menu>
</div>
<!-- <span fxFlex></span> -->

<mat-dialog-content  style="height: 38vw !important; max-height: 38vw !important;">

    <mat-tab-group id="tabGroup" #tabGroup (selectedTabChange)="changedOptions(tabGroup)" animationDuration="0ms" mat-align-tabs="center">
      <mat-tab #tap *ngFor="let dashboard of dashboards.tabs; index as tapIndex" [label]="dashboard.name">
        <div dir="ltr" class="certificateBox" [style.width.mm]="dashboards.view.width" [style.height.mm]="dashboards.view.height" >   
          <gridster [options]="options">
            <gridster-item #gridsterItem style="background: none;" [item]="item" *ngFor="let item of dashboard.details.contents; index as i">

              <img #Imagebackground style="width: 100%; height: 100%;" *ngIf="(i === 0)" [src]="'http://localhost:3000/uploadedFiles/interiorPhotos/'+item.content">              
              <input hidden #Inputbackground type="file"  accept="image/*" (change)="onSelectFile('Imagebackground', tapIndex, item, $event.target.files[0])" />
          
              <span class="dragHandle all" *ngIf="!(i === 0)">
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </span>
              <span [matMenuTriggerFor]="backgrounList" *ngIf="(i === 0)" [style.top.px]="6" [style.right.px]="10" class="dragHandle">
                <svg width="4px" fill="currentColor" viewBox="0 0 3 11">
                  <circle cx="1.5" cy="1.5" r="1.5" />
                  <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 4)" />
                  <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 8)" />
                </svg>
              </span>
              <mat-menu #backgrounList="matMenu">
                <button mat-menu-item (click)="Inputbackground.click()">{{(i === 0 && !(item.content == 'white.jpg'))? 'تغيير الخلفية' : 'إدراج خلفية'}} </button>
                <button mat-menu-item (click)="removeBackground(tapIndex, item)" *ngIf="(i === 0 && !(item.content == 'white.jpg'))" style="color: red;">حذف الخلفية</button>
              </mat-menu>



              <div style="height: 100%; width: 100%;" *ngIf="!(i === 0)" class="button-holder">

                <div dir="rtl" style="height: 100%; width: 100%;  padding-top: 20px;" class="gridster-item-content">

                  <ng-container #image *ngIf="(item.type == 'img'); else text">
                    
                  <img #ImageItem style="width: 100%; height: 100%;" [src]="'http://localhost:3000/uploadedFiles/interiorPhotos/'+item.content">
                  <input hidden #InputImg type="file"  accept="image/*" (change)="onSelectFile('ImageItem', tapIndex, item, $event.target.files[0])" />

                  <span [matMenuTriggerFor]="menuBox" [style.top.px]="6" [style.right.px]="10" class="dragHandle">
                    <svg width="4px" fill="currentColor" viewBox="0 0 3 11">
                      <circle cx="1.5" cy="1.5" r="1.5" />
                      <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 4)" />
                      <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 8)" />
                    </svg>
                  </span>
                  <mat-menu #menuBox="matMenu">
                    <button mat-menu-item (click)="InputImg.click()">{{!(!(i === 0) && (item.content == 'empty.png'))? 'تغيير الصورة' : 'إدراج صورة'}} </button>
                    <button style="color: red;" (click)="removeItem($event, tapIndex, item, 'img')" mat-menu-item>حذف</button>
                    <button mat-menu-item [matMenuTriggerFor]="moveTo">..تحريك إلى</button>
                  </mat-menu>
                  <mat-menu #moveTo="matMenu">
                    <button mat-menu-item (click)="gridsterItem.bringToFront(1);">الأمام</button>
                    <button mat-menu-item (click)="item.layerIndex == 1? item.layerIndex = 1 : gridsterItem.sendToBack(1);">الخلف</button>
                  </mat-menu>
                  </ng-container>
    
                  <ng-template #text>
                    <ng-container *ngIf="(item.type == 'text'); else qr">
                  <!-- [(ngModel)]="item.content" (ngModelChange)="onSelectFile(ImageItem, tapIndex, item, $event.target.files[0])" -->

                  <span [matMenuTriggerFor]="menuBox" [style.top.px]="6" [style.right.px]="10" class="dragHandle">
                    <svg width="4px" fill="currentColor" viewBox="0 0 3 11">
                      <circle cx="1.5" cy="1.5" r="1.5" />
                      <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 4)" />
                      <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 8)" />
                    </svg>
                  </span>

                  <mat-menu #menuBox="matMenu">
                    <!-- <button mat-menu-item (click)="addVarablesCode()">إضافة رمز</button> -->
                    <button style="color: red;" (click)="removeItem($event, tapIndex, item, 'text')" mat-menu-item>حذف</button>
                    <button mat-menu-item [matMenuTriggerFor]="moveTo">..تحريك إلى</button>
                  </mat-menu>
                  <mat-menu #moveTo="matMenu">
                    <button mat-menu-item (click)="gridsterItem.bringToFront(1);">الأمام</button>
                    <button mat-menu-item (click)="item.layerIndex == 1? item.layerIndex = 1 : gridsterItem.sendToBack(1);">الخلف</button>
                  </mat-menu>

                  
                          <!-- بداية المحتوى -->
                      <!-- <span style="margin-left: 10px; color: blueviolet">{{item.layerIndex}} | type: {{item.type}}</span> -->
                      <div style="height: 100%;" class="col-lg-8 control-section">
                        <div style="height: 100%;" class="sample-container">
                            <div  id="rteSection" style="height: 100%;" class="default-section">
                                <ejs-richtexteditor
                                [enableRtl] = 'rtl'
                                [fontFamily]='fontFamily'
                                id='inlineRTE'
                                height="100%"
                                class="inlineRTE"
                                [enableResize]="true"
                                [inlineMode]='inlineMode'
                                [format]='format'
                                [saveInterval]="1"
                                (change)="changeHtmlValue(inlineRTE, tapIndex, item)"
                                [fontFamily]='fontFamily'
                                [fontSize]='fontSize'
                                [value]="item.content"
                                #inlineRTE
                                (quickToolbarOpen)='onCreate()'
                                (actionComplete)='actionCompleteHandler($event)'
                                (click)="focusTextArea(inlineRTE)"
                                [toolbarSettings]='toolbarSettings'>
                                <!-- <ng-template #valueTemplate>
                                  <p>نص تجريبي لإدراج مربع نص في محتوى المستند النصي, <a href="https://ej2.syncfusion.com/home/" target='_blank'>toolbar</a>.
                                      مما يعزز من العناية بتجربة المستخدم الناجحة. <span><span class="varablesCode">«</span>____<span class="varablesCode">»</span></span></p>
                              </ng-template> -->

                                    
                                </ejs-richtexteditor>
                                <ejs-dialog
                                #Dialog
                                id="rteDialog"
                                [buttons]='dlgButtons'
                                (overlayClick)="dialogOverlay()"
                                [header]='header'
                                [visible]='false'
                                [showCloseIcon]='false'
                                width='43%'
                                [target]='target'
                                (created)="dialogCreate()"
                                [isModal]='true'>
                                <ng-template #content>
                                    <div id="rteSpecial_char">
                                        <div class="char_block" title="^">^</div>
                                        <div class="char_block" title="_">_</div>
                                        <div class="char_block" title="`">`</div>
                                        <div class="char_block" title="&#123;">&#123;</div>
                                        <div class="char_block" title="|">|</div>
                                        <div class="char_block" title="&#125;">&#125;</div>
                                        <div class="char_block" title="~">~</div>
                                        <div class="char_block" title="&nbsp;">&nbsp;</div>
                                        <div class="char_block" title="¡">¡</div>
                                        <div class="char_block" title="¢">¢</div>
                                        <div class="char_block" title="£">£</div>
                                        <div class="char_block" title="¤">¤</div>
                                        <div class="char_block" title="¥">¥</div>
                                        <div class="char_block" title="₹">₹</div>
                                        <div class="char_block" title="¦">¦</div>
                                        <div class="char_block" title="§">§</div>
                                        <div class="char_block" title="¨">¨</div>
                                        <div class="char_block" title="©">©</div>
                                        <div class="char_block" title="ª">ª</div>
                                        <div class="char_block" title="«">«</div>
                                        <div class="char_block" title="¬">¬</div>
                                        <div class="char_block" title="­">­</div>
                                        <div class="char_block" title="®">®</div>
                                        <div class="char_block" title="¯">¯</div>
                                        <div class="char_block" title="°">°</div>
                                        <div class="char_block" title="±">±</div>
                                        <div class="char_block" title="²">²</div>
                                        <div class="char_block" title="³">³</div>
                                        <div class="char_block" title="´">´</div>
                                        <div class="char_block" title="µ">µ</div>
                                        <div class="char_block" title="¶">¶</div>
                                        <div class="char_block" title="·">·</div>
                                        <div class="char_block" title="¸">¸</div>
                                        <div class="char_block" title="¹">¹</div>
                                        <div class="char_block" title="º">º</div>
                                        <div class="char_block" title="»">»</div>
                                        <div class="char_block" title="¼">¼</div>
                                        <div class="char_block" title="½">½</div>
                                        <div class="char_block" title="¾">¾</div>
                                        <div class="char_block" title="¿">¿</div>
                                        <div class="char_block" title="À">À</div>
                                        <div class="char_block" title="Á">Á</div>
                                        <div class="char_block" title="Â">Â</div>
                                        <div class="char_block" title="Ã">Ã</div>
                                    </div>
                                </ng-template>
                            </ejs-dialog>
                                <!-- <ng-container *ngTemplateOutlet="Dialog"></ng-container> -->

                            </div>
                        </div>
                    </div>               
                    <!-- نهاية المحتوى -->

                    </ng-container>
                  </ng-template>

                  <ng-template #qr>
                    <ng-container>
                    
                      <img #QrItem style="width: 100%; height: 100%;" [src]="'http://localhost:3000/uploadedFiles/interiorPhotos/'+item.content">
    
                      <span [matMenuTriggerFor]="menuBox" [style.top.px]="6" [style.right.px]="10" class="dragHandle">
                        <svg width="4px" fill="currentColor" viewBox="0 0 3 11">
                          <circle cx="1.5" cy="1.5" r="1.5" />
                          <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 4)" />
                          <circle cx="1.5" cy="1.5" r="1.5" transform="translate(0 8)" />
                        </svg>
                      </span>
                      <mat-menu #menuBox="matMenu">
                        <button style="color: red;" (click)="removeItem($event, tapIndex, item, 'qr')" mat-menu-item>حذف</button>
                        <button mat-menu-item [matMenuTriggerFor]="moveTo">..تحريك إلى</button>
                      </mat-menu>
                      <mat-menu #moveTo="matMenu">
                        <button mat-menu-item (click)="gridsterItem.bringToFront(1);">الأمام</button>
                        <button mat-menu-item (click)="item.layerIndex == 1? item.layerIndex = 1 : gridsterItem.sendToBack(1);">الخلف</button>
                      </mat-menu>
                      </ng-container>
                  </ng-template>
                </div>
              </div> 
          </gridster-item>

        </gridster>
      </div>
        
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
  <mat-dialog-actions align="start">
    <button mat-button color="accent" [mat-dialog-close]="false">إلغاء</button>
    <button mat-button color="primary" cdkFocusInitial (click)="conform()">حفظ</button>
    <!-- {{isSaved}} -->
  </mat-dialog-actions>
