<mat-tab-group mat-align-tabs="center" selectedIndex="1">
  <mat-tab>
    <ng-template mat-tab-label>
      نموذج الشهادات
      <mat-icon class="example-tab-icon">build</mat-icon>
    </ng-template>

    <mat-list>
      <mat-list-item class="m-top"
        >تصميم الشهادات
        <div style="text-align: center;">
          <app-material-file-upload>
            <section>
              <div class="example-button-row">
                <input
                  hidden
                  #Certifications
                  (change)="onFileSelected($event)"
                  type="file"
                />
                <button
                  (click)="Certifications.click()"
                  mat-raised-button
                  color="primary"
                >
                  اختر الصورة
                </button>
                <button
                  (click)="onUpload($event, 'Certifications')"
                  mat-raised-button
                >
                  تحميل الصورة
                </button>
              </div>
            </section>
          </app-material-file-upload>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-card
        *ngFor="let certification of certifications"
        style="
          display: inline-block;
          max-width: 200px;
          margin-right: 15px;
          margin-top: 15px;
        "
      >
        <mat-card-header> نموذج رقم: {{ certification.id }} </mat-card-header>
        <img
          mat-card-image
          [src]="certification.url"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteImage(certification.id, 'certifications')"
          >
            حذف
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-list-item class="m-top"
        >الشعارات
        <div style="text-align: center;">
          <app-material-file-upload>
            <section>
              <div class="example-button-row">
                <input
                  hidden
                  #Marks
                  (change)="onFileSelected($event)"
                  type="file"
                />
                <button
                  (click)="Marks.click()"
                  mat-raised-button
                  color="primary"
                >
                  اختر الصورة
                </button>
                <button (click)="onUpload($event, 'Marks')" mat-raised-button>
                  تحميل الصورة
                </button>
              </div>
            </section>
          </app-material-file-upload>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-card
        *ngFor="let mark of marks"
        style="
          display: inline-block;
          max-width: 200px;
          margin-right: 15px;
          margin-top: 15px;
        "
      >
        <mat-card-header> نموذج رقم: {{ mark.id }} </mat-card-header>
        <img mat-card-image [src]="mark.url" alt="Photo of a Shiba Inu" />
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteImage(mark.id, 'marks')"
          >
            حذف
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-list-item class="m-top"
        >التوقيع
        <div style="text-align: center;">
          <app-material-file-upload>
            <section>
              <div class="example-button-row">
                <input
                  hidden
                  #Signatures
                  (change)="onFileSelected($event)"
                  type="file"
                />
                <button
                  (click)="Signatures.click()"
                  mat-raised-button
                  color="primary"
                >
                  اختر الصورة
                </button>
                <button
                  (click)="onUpload($event, 'Signatures')"
                  mat-raised-button
                >
                  تحميل الصورة
                </button>
              </div>
            </section>
          </app-material-file-upload>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-card
        *ngFor="let signature of signatures"
        style="
          display: inline-block;
          max-width: 200px;
          margin-right: 15px;
          margin-top: 15px;
        "
      >
        <mat-card-header> نموذج رقم: {{ signature.id }} </mat-card-header>
        <img mat-card-image [src]="signature.url" alt="Photo of a Shiba Inu" />
        <input
          type="text"
          [value]="signature.singN_AR"
          #singN_AR
          placeholder="مسمى المخول بالتوقيع عربي"
        />
        <input
          type="text"
          [value]="signature.singN_EN"
          #singN_EN
          placeholder="مسمى المخول بالتوقيع انجليزي"
        />
        <input
          type="text"
          [value]="signature.arName"
          #arName
          placeholder="الاسم باللغة العربية"
        />
        <input
          type="text"
          [value]="signature.enName"
          #enName
          placeholder="الاسم باللغة الانجليزية"
        />
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteImage(signature.id, 'signatures')"
          >
            حذف
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="
              saveData(
                signature.id,
                singN_AR.value,
                singN_EN.value,
                arName.value,
                enName.value
              )
            "
          >
            حفظ
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-list-item class="m-top"
        >الختم
        <div style="text-align: center;">
          <app-material-file-upload>
            <section>
              <div class="example-button-row">
                <input
                  hidden
                  #Stamps
                  (change)="onFileSelected($event)"
                  type="file"
                />
                <button
                  (click)="Stamps.click()"
                  mat-raised-button
                  color="primary"
                >
                  اختر الصورة
                </button>
                <button (click)="onUpload($event, 'Stamps')" mat-raised-button>
                  تحميل الصورة
                </button>
              </div>
            </section>
          </app-material-file-upload>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-card
        *ngFor="let stamp of stamps"
        style="
          display: inline-block;
          max-width: 200px;
          margin-right: 15px;
          margin-top: 15px;
        "
      >
        <mat-card-header> نموذج رقم: {{ stamp.id }} </mat-card-header>
        <img mat-card-image [src]="stamp.url" alt="Photo of a Shiba Inu" />
        <input
          type="text"
          [value]="stamp.stampN"
          #stampN
          placeholder="اسم الختم"
        />
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteImage(stamp.id, 'stamp')"
          >
            حذف
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="saveDataStamp(stamp.id, stampN.value)">
            حفظ
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-list>
  </mat-tab>


<!-- التبويب الثاني نموذج النصوص -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      نماذج النصوص
    </ng-template>
    <mat-list>
      <mat-list-item class="m-top">
        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">إضافة مسمى دورة جديد</button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ت</th>
            <td mat-cell *matCellDef="let element">{{ element.No }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              إسم الدورة
            </th>
            <td mat-cell *matCellDef="let element">
              <h6><b>إسم الشهادة: </b>{{element.courseName}}</h6> <br />
              <b>عنوان الشهادة - عربي: </b>{{element.cr_title_AR}} <br />
              <b>عنوان الشهادة - إنجليزي: </b>{{element.cr_title_EN}} <br />
              <b>النص العربي - مذكر: </b>{{element.cr_text_M_AR}} <br />
              <b>النص الإنجليزي - مذكر: </b>{{element.cr_text_M_EN}} <br />
              <b>النص العربي - مؤنث: </b>{{element.cr_text_F_AR}} <br />
              <b>النص الإنجليزي - مؤنث: </b>{{element.cr_text_F_EN}}
            </td>
          </ng-container>


          <!-- Edit -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              تعديل / حذف
            </th>
            <td mat-cell *matCellDef="let element">
              <a mat-stroked-button  color="primary" color="Warn" (click)="openDialog('Update', element)">تعديل</a> | 
              <a mat-stroked-button  color="warn" (click)="openDialog('Delete', element)">حذف</a>  
            </td>
          </ng-container>


          <!-- Weight Column -->
          <ng-container matColumnDef="editDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              تاريخ التعيديل
            </th>
            <td mat-cell *matCellDef="let element">{{ element.editDate }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="createData">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              تاريخ الإنشاء
            </th>
            <td mat-cell *matCellDef="let element">{{ element.createData }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="example-element-row"
          ></tr>
        </table>
      </div>
    </mat-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Third
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
